<div class="container" style="gap: 0 0.4rem">
  <img src="/assets/call.png" alt="call logo" class="logo" />
  <p>+998 97 330 4897</p>
</div>
<p>&copy; 2021 All rights reserved by <span>Ulugbek Urunov</span></p>
<ul class="social-media-list">
  <li>
    <a href="mailto:ulugbekurunov1997@gmail.com"
      ><img src="/assets/gmail.png" alt="gmail logo" class="logo"
    /></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/uurunov/"
      ><img src="/assets/linkedin.png" alt="linkedin logo" class="logo"
    /></a>
  </li>
  <li>
    <a href="https://www.facebook.com/uurunov"
      ><img src="/assets/facebook.png" alt="facebook logo" class="logo"
    /></a>
  </li>
  <li>
    <a href="https://www.instagram.com/__urunovulugbek__/"
      ><img src="/assets/instagram.png" alt="instagram logo" class="logo"
    /></a>
  </li>
  <li>
    <a href="https://t.me/uurunov_u"
      ><img src="/assets/telegram.png" alt="telegram logo" class="logo"
    /></a>
  </li>
</ul>
