<h2>Hot Topics of The Week</h2>

<section class="topics">
  <a href="#" class="topic" (click)="onClick()">
    <img
      src="/assets/navigate_next.svg"
      alt="navigate next icon"
      class="icon"
    />
    <p>Star Wars: Mandalorian Season 3</p>
  </a>
  <a href="#" class="topic"
    ><img
      src="/assets/navigate_next.svg"
      alt="navigate next icon"
      class="icon"
    />
    <p>Basketball in Uzbekistan</p></a
  >
  <a href="#" class="topic"
    ><img
      src="/assets/navigate_next.svg"
      alt="navigate next icon"
      class="icon"
    />
    <p>Angular Daily News</p></a
  >
</section>
