<div class="component">
  <!-- Navigation Menu: USERS BUTTON -->
  <section class="header">
    <a routerLink="/users">
      <img
        src="/assets/navigate_before_white.svg"
        alt="navigate before icon"
        class="icon"
      />
      <p>Users</p>
    </a>
  </section>

  <!-- Form for adding new user by admin -->
  <form autocomplete="off" #newUser="ngForm" (ngSubmit)="addUser(newUser)">
    <!-- Firstname -->
    <div class="container" [class.leftEmpty]="fName.invalid && fName.touched">
      <img src="/assets/person.svg" alt="first name icon" class="icon" />
      <input
        type="text"
        id="fname"
        name="fname"
        class="inputBox"
        required
        minlength="3"
        placeholder="First name"
        [(ngModel)]="model.fname"
        #inputFName
        #fName="ngModel"
        (focusin)="getFocusIn(inputFName, fName)"
        (focusout)="getFocusOut(inputFName)"
      />
    </div>

    <!-- Middlename -->
    <div class="container" [class.leftEmpty]="mName.invalid && mName.touched">
      <img src="/assets/person.svg" alt="middle name icon" class="icon" />
      <input
        type="text"
        id="mname"
        name="mname"
        class="inputBox"
        required
        minlength="3"
        placeholder="Middle name"
        [(ngModel)]="model.mname"
        #inputMName
        #mName="ngModel"
        (focusin)="getFocusIn(inputMName, mName)"
        (focusout)="getFocusOut(inputMName)"
      />
    </div>

    <!-- Lastname -->
    <div class="container" [class.leftEmpty]="lName.invalid && lName.touched">
      <img src="/assets/person.svg" alt="last name icon" class="icon" />
      <input
        type="text"
        id="lname"
        name="lname"
        class="inputBox"
        required
        minlength="3"
        placeholder="Last name"
        [(ngModel)]="model.lname"
        #inputLName
        #lName="ngModel"
        (focusin)="getFocusIn(inputLName, lName)"
        (focusout)="getFocusOut(inputLName)"
      />
    </div>

    <!-- Email -->
    <div class="container" [class.leftEmpty]="email.invalid && email.touched">
      <img src="/assets/email.svg" alt="email icon" class="icon" />
      <input
        type="text"
        id="email"
        name="email"
        class="inputBox"
        required
        minlength="8"
        placeholder="Email"
        [(ngModel)]="model.email"
        #inputEmail
        email
        #email="ngModel"
        (focusin)="getFocusIn(inputEmail, email)"
        (focusout)="getFocusOut(inputEmail)"
      />
    </div>

    <!-- Login -->
    <div class="container" [class.leftEmpty]="login.invalid && login.touched">
      <img src="/assets/person.svg" alt="login icon" class="icon" />
      <input
        type="text"
        id="login"
        name="login"
        class="inputBox"
        required
        minlength="3"
        placeholder="Login"
        [(ngModel)]="model.login"
        #inputLogin
        #login="ngModel"
        (focusin)="getFocusIn(inputLogin, login)"
        (focusout)="getFocusOut(inputLogin)"
      />
    </div>

    <!-- Password -->
    <div class="container" [class.leftEmpty]="pass.invalid && pass.touched">
      <img src="/assets/lock.svg" alt="password icon" class="icon" />
      <input
        type="password"
        id="pswd"
        name="pswd"
        class="inputBox"
        required
        minlength="8"
        placeholder="Password"
        [(ngModel)]="model.pswd"
        #inputPswd
        #pass="ngModel"
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
        (focusin)="getFocusIn(inputPswd, pass)"
        (focusout)="getFocusOut(inputPswd)"
      />
    </div>

    <!-- Confirm password -->
    <div
      class="container"
      [class.leftEmpty]="confPass.invalid && confPass.touched"
    >
      <img src="/assets/lock.svg" alt="confirm password icon" class="icon" />
      <input
        type="password"
        id="cnfmpassword"
        name="cnfmpassword"
        class="inputBox"
        required
        minlength="8"
        placeholder="Confirm password"
        [(ngModel)]="model.cnfmpassword"
        #inputConfPass
        #confPass="ngModel"
        (focusin)="getFocusIn(inputConfPass, confPass)"
        (focusout)="getFocusOut(inputConfPass)"
      />
    </div>

    <!-- ADMIN OR NOT -->
    <div class="container">
      <input
        type="checkbox"
        name="user_role"
        id="user_role"
        class="checkbox"
        [(ngModel)]="model.user_role"
      />
      <label for="user_role" class="checkboxLabel">Admin</label>
    </div>

    <p *ngIf="!newUser.valid" class="error-message" style="text-align: center">
      {{ signUpFailedMessage }}
    </p>

    <!-- SUBMIT -->
    <button type="submit">Add User</button>
  </form>
</div>
