@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

div.component {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  align-self: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
}

form p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

form p.error-message {
  margin-bottom: 0.5rem;
  color: rgb(182, 0, 0);
  font-size: 0.7rem;
}

form div.container {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  border: 1px solid #008bb6;
  border-radius: 0.5rem;
  width: 25vw;
  height: 5vh;
  margin-bottom: 1rem;
  transition: box-shadow 0.5s;
}

form input.inputBox {
  padding: 0 0.6rem;
  background: transparent;
  color: #008bb6;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  outline: none;
}

form input.inputBox::placeholder,
form label {
  color: #008bb6;
}

form input[type="checkbox"] {
  margin: 0 0 0 0.2rem;
}

form label.checkboxLabel {
  color: #008bb6;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 0 0.6rem;
}

form img.icon {
  height: 2.5vh;
  width: auto;
}

form button {
  text-transform: uppercase;
  color: #ffffff;
  width: 25vw;
  height: 5vh;
  background: #008bb6;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.8rem;
  transition: box-shadow 0.5s;
}

form button:hover {
  box-shadow: 0px 0px 10px rgb(0, 139, 182);
}

div.signup {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

div.signup a {
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: none;
  color: #008bb6;
  margin: 0 0.4rem;
}

section.header {
  display: flex;
  justify-content: space-between;
}

section.header a {
  display: flex;
  align-items: center;
  width: 7vw;
  height: 4vh;
  background: #008bb6;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  transition: box-shadow 0.5s;
  text-decoration: none;
  margin: 0.5rem;
}

section.header a:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(0, 139, 182);
}

section.header a img.icon {
  height: 2.5vh;
  width: auto;
  margin: 0 0.5rem;
}

div.leftEmpty {
  box-shadow: 0 0 10px rgb(182, 0, 0);
}
