<div id="app-topic-comments">
  <section class="header">
    <a routerLink="/topics">
      <img
        src="/assets/navigate_before_white.svg"
        alt="navigate back icon"
        class="icon"
      />
      <p>Topics</p>
    </a>
    <div class="topic">{{ currentTopic.title }}</div>
  </section>

  <section class="comments">
    <app-comment></app-comment>
  </section>

  <section class="send">
    <form
      class="container"
      autocomplete="off"
      #newComment="ngForm"
      (ngSubmit)="sendComment(newComment)"
    >
      <input
        type="text"
        id="content"
        name="content"
        class="inputBox"
        [(ngModel)]="model.content"
        required
        minlength="1"
        placeholder="Write a comment"
      />
      <button type="submit">
        <img src="/assets/send.svg" alt="send icon" class="icon" />
      </button>
    </form>
  </section>
</div>
