<section class="header">
  <a href="#">
    <img
      src="/assets/navigate_before_white.svg"
      alt="navigate back icon"
      class="icon"
    />
    <p>Topics</p>
  </a>
  <div class="topic">Star Wars: Mandalorian Season 3</div>
</section>

<section class="comments">
  <app-comment></app-comment>
  <app-comment></app-comment>
</section>

<section class="send">
  <div class="container">
    <input
      type="text"
      id="feedback"
      name="feedback"
      class="inputBox"
      required
      minlength="1"
      placeholder="Write a comment"
    />
    <button>
      <img src="/assets/send.svg" alt="send icon" class="icon" />
    </button>
  </div>
</section>
