app-sign-in,
app-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

app-topic-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
