<div class="component">
  <form
    autocomplete="off"
    #signInData="ngForm"
    (ngSubmit)="login(signInData, inputPass)"
  >
    <p>Please, enter your login and password to sign in</p>

    <div class="container">
      <img src="/assets/person.svg" alt="login icon" class="icon" />
      <input
        type="text"
        id="login"
        name="login"
        class="inputBox"
        required
        minlength="8"
        maxlength="30"
        placeholder="Login"
        [(ngModel)]="model.login"
        #inputLogin
        (focusin)="getFocusIn(inputLogin)"
        (focusout)="getFocusOut(inputLogin)"
      />
    </div>

    <div class="container">
      <img src="/assets/lock.svg" alt="password icon" class="icon" />
      <input
        type="text"
        id="password"
        name="password"
        class="inputBox"
        required
        minlength="8"
        maxlength="30"
        placeholder="Password"
        [(ngModel)]="model.password"
        #inputPass
        (focusin)="getFocusIn(inputPass)"
        (focusout)="getFocusOut(inputPass)"
      />
    </div>

    <button type="submit">Sign in</button>
  </form>

  <div class="signup">
    Don't have an account? <a routerLink="/sign-up">Register</a>
  </div>
</div>
