<div class="avatar">
  <img src="/assets/avatar.svg" alt="user avatar icon" class="icon" />
</div>
<div class="commentBox">
  <div class="header">
    <p id="lastname">Jim</p>
    <div class="withOption">
      <p id="date">Nov 12 2021, 19:46</p>
      <button>
        <img src="/assets/more_vert.svg" alt="more options icon" class="icon" />
      </button>
    </div>
  </div>
  <!-- <div class="header">
    <p id="lastname">Jim</p>
    <p id="date">Nov 12 2021, 19:46</p>
  </div> -->
  <div class="comment">
    Star Wars Mando season 3 will be released early next year
  </div>
</div>

<!-- <div class="options">
  <input type="button" value="Edit" />
  <input type="button" value="Delete" />
</div> -->

<!-- <section class="popup send">
  <div class="container">
    <input
      type="text"
      id="feedback"
      name="feedback"
      class="inputBox"
      required
      minlength="1"
      placeholder="Write a comment"
    />
    <button>
      <img src="/assets/check.svg" alt="save icon" class="icon" />
    </button>
  </div>
</section> -->
