<div class="container" *ngFor="let comment of comments">
  <!-- User profile photo -->
  <div class="avatar">
    <img src="/assets/avatar.svg" alt="user avatar icon" class="icon" />
  </div>

  <!-- User Comment -->
  <div class="commentBox">
    <!-- User / Comment Info IF NOT AUTHOR -->
    <div class="header" *ngIf="!isAuthor(comment.id)">
      <p id="lastname">{{ comment.user.fname }} {{ comment.user.lname }}</p>
      <p id="date">{{ comment.comment_date }}</p>
    </div>

    <!-- User / Comment Info IF AUTHOR -->
    <div class="header" *ngIf="isAuthor(comment.id)">
      <p id="lastname">{{ comment.user.fname }} {{ comment.user.lname }}</p>
      <div class="withOption">
        <p id="date">{{ comment.comment_date }}</p>

        <!-- AUTHOR PRIVILIGES: MORE OPTIONS ICON -->
        <button type="button" (click)="onOptionsClicked(comment.id)">
          <img
            src="/assets/more_vert.svg"
            alt="more options icon"
            class="icon"
          />
        </button>
      </div>
    </div>

    <!-- Comment Text -->
    <div class="comment">{{ comment.content }}</div>
  </div>

  <!-- AUTHOR PRIVILIGES: MORE OPTIONS ICON: EDIT/DELETE buttons -->
  <div class="options" *ngIf="comment.active">
    <input
      type="button"
      value="Edit"
      (click)="onOptionEditClicked(comment.id)"
    />
    <input type="button" value="Delete" (click)="deleteComment(comment.id)" />
  </div>

  <!-- AUTHOR PRIVILIGES: MORE OPTIONS ICON: EDIT BUTTON CLICKED (SCRIM) -->
  <section class="popup send" *ngIf="author_option_edit">
    <form
      class="container"
      #newComment="ngForm"
      (ngSubmit)="editComment(newComment)"
    >
      <input
        type="text"
        id="content"
        name="content"
        [(ngModel)]="model.content"
        class="inputBox"
        required
        minlength="1"
        placeholder="Write a comment"
      />
      <button type="submit">
        <img src="/assets/check.svg" alt="save icon" class="icon" />
      </button>
    </form>
  </section>
</div>
